<h1>百合鏡4期データ小屋</h1>
<p>このサイトでは<a href="http://csyuki.sakura.ne.jp/cgi-bin/prism/" target="_blank">百合鏡</a>を解析して得られる情報を扱っています。<br>
データ更新は本家の圧縮結果が公開されてから行います。</p><br>
<p>第<%= @last_result %>回更新結果まで反映済です。</p>

<div class="col-lg-12">
  <div class="bs-component">
    <div class="well well-sm">
      <h2>サイトマップ</h2>
      <ul>
        <li>個人データ</li>
	    <ul>
          <li><%= link_to "プロフィール一覧", profiles_path %></li>
        </ul>
      </ul>
    </div>
    <div class="well well-sm">
      <h2>更新履歴</h2>
      <ul>
        <li>2018//</li>
        <ul>
          <li>サイト公開</li>
        </ul>
      </ul>
    </div>
  </div>
</div>

