%h1 百合鏡5期データ小屋
%p
  このサイトでは
  %a{:href => "http://csyuki.sakura.ne.jp/cgi-bin/prism/", :target => "_blank"} 百合鏡
  を解析して得られる情報を扱っています。
%br
%p 
  #{top_result_no(nil,nil)}更新結果まで反映済です。

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul  
      .col-md-6
        %ul
          %li 結果データ

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 20--/-/-
      %ul
        %li サイト公開
