%p.formNum
  数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
  %br
  「100~」で100以上、「~100」で100以下、「-200~100」で-200～100の範囲指定となります。
%p.formText
  「テネルメント」と入力　→　「テネルメント」を含む単語が検索結果にヒット
  %br
  「"テネルメント"」　→　完全一致で「テネルメント」のみ検索結果にヒット
  %br
  「-テネルメント」　→　「テネルメント」の単語を含まないものが検索結果にヒット
  %br
  「-"テネルメント"」　→　完全一致で「テネルメント」以外が検索結果にヒット
  %br
  「プラインカルド城 中庭」　→　「プラインカルド城」と「中庭」の2つの単語が含まれるものが検索結果にヒット
  %br
  「北側/中庭」　→　「北側」か「中庭」のどちらかの単語が含まれるものが検索結果にヒット
  %br
  「プラインカルド城 北側/中庭」　→　「プラインカルド城」が含まれ、さらに「北側」か「中庭」が含まれるものが検索結果にヒット
  %br
  「-テネルメント -プラインカルド城」　→　「テネルメント」もしくは「プラインカルド」という単語が含まれるものを検索結果から除外
